#millie-careers {
}

#applicant-table,
th,
td {
  border: 1px black solid;
  border-collapse: collapse;

  font-size: small;

  tr {
    border-bottom: 1px black solid;
  }

  td {
    padding: 5px;
  }
}
