:root {
  interpolate-size: allow-keywords;
}
#root {
  display: grid;
  grid-template-columns: 10% auto;
  grid-template-rows: 75px 10fr 50px;
  grid-template-areas:
    "header header header header"
    "nav main main main"
    "footer footer footer footer";

  max-width: inherit;
  min-height: inherit;

  text-align: center;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Rasa", serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
}

.side-bar {
  grid-area: nav;
  display: flex;

  text-align: left;
  justify-content: left;
  align-items: left;

  ul {
    list-style: none;
  }

  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  li {
    margin-left: 8px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    :hover {
      color: #747bff;
    }
  }
}

.display {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

/* Fonts for Titles and Headers */

.rasa-mini-header {
  font-family: "Rasa", serif;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
}
